nav {

  height:40px;
  width:100%;
  background-color: darkblue;
  font-family: sans-serif;
}

nav a {
  display: inline-block;
  vertical-align: middle;
  color: lightgrey;
  margin-left: 10px;
  padding: 10px;
}

nav div {
  display: inline-block;
  vertical-align: middle;
  color: lightgrey;
  margin-left: 10px;
  padding: 10px;
}

.dropDown {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  color: lightgrey;
}

.dropDown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDown:hover .dropDown-content {
      display: block;
      cursor:pointer;
}
